---
name: Release

permissions:
  contents: write
  issues: write

on:
  push:
    branches:
      - main
      - next
      - next-major
      - beta
      - alpha
      - "[0-9]+.[0-9]+.x"
      - "[0-9]+.x"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: repository checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic-release
        with:
          branch: 'main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
